aniso8601
attrs
bcrypt
certifi
cffi
chardet
click
colorama
cors
dnspython
email-validator
filelock
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
flask-mongoengine
flask-restplus
Flask-WTF
future
gevent
greenlet
idna
itsdangerous
Jinja2
jsonschema
MarkupSafe
mongoengine
pycparser
PyJWT
pymongo
pyrsistent
python-dotenv
pytz
requests
requests-file
six
tldextract
urllib3
Werkzeug==0.16.1
WTForms
zope.event
zope.interface
